<% cache product do %>
    <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h4><%= link_to product.name, product %></h4>
        <p><%= product.description %></p>
        <p>Colour: <%= product.colour %></p>
        <strong>$<%= product.price %></strong>
    </div><!-- /col -->
<% end %>