<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Courgette', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Comfortaa', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", static_pages_index_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
          </ul>
          <%= form_tag(products_path, method: 'get', local: true) do |form| %>
            <%= label_tag(:q, 'Search for:') %>
            <%= text_field_tag(:q, id: 'q', value: params[:q]) %>
            <%= submit_tag('Search') %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <%= yield %>
  
  <footer class="site-footer">
    &copy; 2017 Bike Berlin
  </footer>

</body>
</html>
